<div id="blog">
	<% if can? :manage, :blog_entries %>
		<ul class="admin_panel">
			<li><%= link_to t('new'),  [:new, :blog_entry] %></li>
		</ul>
	<% end %>

	<%= will_paginate @blog_entries, :class => :pagination %>
	<div class="items">
		<%= render partial: 'blog_entry_small', collection: @blog_entries, as: :blog_entry %>
	</div>
	<div class="clear"></div>
	<%= will_paginate @blog_entries, :class => :pagination %>
</div>
</iv>